body 
{
    background-image: url('../images/mywebsite_small.png');
    background-repeat: no-repeat;
}

#centerdiv
{
    text-align:center; 
    margin:0 auto;
}

#divtemp
{
    font-size: xx-large; 
    font-weight: bold; 
    color: blue;
}